div#langmenu .anchor { margin :3px auto; }
div#langmenu { display :block; float :right; margin :0.0em auto; min-height :24px; height :24px; padding :2px; position :absolute; text-align :center; vertical-align :middle; width :100%; z-index: 999!important; }
div#langmenu img { border :0;  }
div#langmenu a.default span img { filter :alpha(opacity=100); -moz-opacity :1.0; -khtml-opacity :1.0; opacity :1.0; }
div#langmenu a:hover span img, 
div#langmenu a.current span img { background :transparent; filter :alpha(opacity=30); -khtml-opacity :0.3; -moz-opacity :.3; opacity :.3; }
